body {
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#rock, #paper, #scissors {
    height: 250px;
    width: auto;
    opacity: .4;
}

#rock {
    display: block;
    margin: auto;
}

#triangleContainer {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.triangleBottom {
    display: flex;
    justify-content: center;
    /*gap: 175px;*/
    align-items: center;
}

.arrow {
    width: 120px;
}

.line {
    margin-top: 14px;
    width: 90px;
    background: black;
    height: 10px;
    float: left;
}

.point {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid black;
    float: right;
}

#leftArrow, #rightArrow {
    display: block;
    opacity: 0.6;
    
}

#bottomArrow {
    opacity: 0.6;
}

#rightArrow {
    rotate: -135deg;
}

#leftArrow {
    rotate: 135deg;
}

#middleArrowContainer {
    display: flex;
    justify-content: center;
    gap: 13%;
}

#rock:hover, #paper:hover, #scissors:hover {
    opacity: 1;
}

/*
#leftArrow {
    position: fixed;
    left: 525px;
    bottom: 325px;
    rotate: 135deg;
}

#rightArrow {
    position: fixed;
    left: 800px;
    bottom: 325px;
    rotate: -135deg;
}

#bottomArrow {
    position: fixed;
    left: 670px;
    bottom: 155px;

}
*/



